# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
**/*.local

# General
**/*.class
**/*.log
**/*.lock
**/*.swp
**/*~
**/.DS_Store
**/Thumbs.db

# IDEs
**/.idea/
**/.classpath
**/.project
**/.settings/
**/*.iml
**/*.ipr
**/*.iws
**/.vscode/*
**/!.vscode/extensions.json
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Build tools
**/target/
**/build/
**/out/
**/dependency-reduced-pom.xml
**/node_modules/

# Spring Boot
**/*.jar
**/*.war
**/.gradletasknamecache
**/.sts4-cache
**/git-hooks/
**/.git-hooks/
**/.gradle/
!**/gradle/wrapper/gradle-wrapper.jar

# Sensitive data
**/application-*.properties
**/env.properties
**/credentials.yml
**/keystore.jks
