// Import variables and globals
@use "./variables" as *;
@use "./globals" as *;

#root {
  width: 100vw; /* Full width of the viewport */
  min-height: 100vh; /* Full height of the viewport */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack content vertically */
  padding: 0; /* Remove padding to avoid extra spacing */
  box-sizing: border-box; /* Include padding in width and height calculations */
}
