@use "sass:color";
// Color Palette
$primary-color: #81c784;
$secondary-color: #c8e6c9;
$tirtiary-color: #83c19e;
$accent-color: #f7e64b; // Orange
$background-color: #f4f4f4; // Light Gray Background
$search-background-color: #c8e6c9;

// Main Text Colors
$text-color: #333; // Dark Gray
$secondary-text-color: #f5f5f5; // Light Gray
$light-text-color: #fff; // White

// Font and Typography
$font-family-base: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;

// Buttons
$button-color: #388e3c; // Purple
$button-text-color: $light-text-color; // White
$alt-button-color: $light-text-color; // Green
$button-secondary-color: $accent-color; // Yellow
$logout-button-color: #ff0000; // Red
$logout-button-text-color: $light-text-color; // White
$button-hover-color: color.adjust(
  $button-color,
  $lightness: -10%
); // Button hover effect

//shadows & borders
$shadow-color: rgba(0, 0, 0, 0.1); // Shadow color
$drop-shadow: drop-shadow(0 0 2em #000000); // Drop shadow effect
$reaction-drop-shadow: drop-shadow(0 0 2em #61dafbaa); // Drop shadow effect
$border-color: #333; // Light Gray border color
$alt-border-color: #ccc; // Light Gray border color

//Header
$header-background: #f5f5f5;
$header-text-color: #388e3c;

//Footer
$footer-background: #ffffff00;
$footer-text-color: #424242;
$footer-font-size: 0.9rem;
$footer-link-color: #ffffff;

//Mega Menu
$mega-menu-background: #1c1f26;
$mega-menu-text-color: #ffffff;
$mega-menu-link-color: $button-color;

// Spacing Variables
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
