@use 'sass:color';
@use '../variables' as *;
/* Ensure the app spans the entire viewport */


/* Logo styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: $drop-shadow;
  }

  &.react:hover {
    filter: $reaction-drop-shadow;
  }
}

/* Make it responsive for smaller screens */
@media (max-width: 768px) {
  #root {
    padding: 1rem; /* Reduce padding on smaller screens */
  }

  .logo {
    height: 4em; /* Adjust logo size */
  }
 
}
